<%= link_to "Cancel", @thrift,  class:"btn btn-dark" %>
<br>
<br>
<h1>Editing Thrift</h1>

<%= render "form", thrift: @thrift %>

<br>

<div>
  <% link_to "Show this Thrift", @thrift,  class:"btn btn-secondary" %> 
</div>
